.transition-button{
    background-color: blue;
    transition: background-color 0.5s;
}
.transition-button:hover{
    background-color: green;
}
.transition-div{
    background-color:lightgreen;
    width: 100px;
    transition: width 1s;
}
.transition-div:hover{
    width: 200px;
}
.transition-text{
    background-color: lightpink;
    font-size: 16px;
    transition: font-size 0.3s;
}
.transition-text:hover{
    font-size: 24px;
}
.transition-image{
    opacity: 1em;
    transition: opacity 0.8s
}
.transition-image:hover{
    opacity: 0.5;
}
.scale-div{
    background-color: lightgreen;
    scale: 1;
    transition: scale;
}
.scale-div:hover{
    scale: 1.5;
}