.transition-button{
    background-color: blue;
    transition: background-color 0.5s;
}
.transition-button:hover{
    background-color: green;
}
.transition-div{
    background-color:lightgreen;
    width: 100px;
    transition: width 1s;
}
.transition-div:hover{
    width: 200px;
}